<p>Edit <em><%= @user.username %>'s</em> points</p>
<%= form_for([:admin, @user]) do |f| %>

  <%= f.hidden_field :password, value: :password %>

  <%= f.label :available_points %>
  <%= f.text_field :available_points %>

  <%= f.label :redeemed_points %>
  <%= f.text_field :redeemed_points %>

  <%= f.submit %>
<% end %>
